:root {
    --colour-gray-01: #313131;
    --colour-gray-02: #414141;
    --colour-gray-03: #525252;
    --colour-red-01: #CA3E47;
    --colour-white-01: #FFFFFF;

    --radius-checkbox: 1.5vmin;
    --radius-button: .5vmin;

    --font-size: 1.5vmin;

    --header-height: 10vh;
    --footer-height: 5vh;

    --tile-size: 96px;
    --tile-borderless-size: 94px;
}

* {
    overflow: hidden;
    /* Mostly for text */
    font-size: var(--font-size);
    color: var(--colour-red-01);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    transition: color .15s ease-out;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: var(--header-height);
    width: 100%;
    background-image: linear-gradient(var(--colour-gray-01), var(--colour-gray-03));
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

div.headerContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 5vmin;
}

footer {
    background-color: var(--colour-gray-01);
    text-align: center;
    position: absolute;
    width: 100%;
    height: var(--footer-height);
    bottom: 0;
}

main {
    width: 100vw;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--colour-gray-03);
}

#grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, calc(var(--tile-size) + 2px));
}

#grid[data-border="false"] {
    grid-template-columns: repeat(auto-fit, calc(var(--tile-borderless-size) + 2px));
}

.tile {
    border: 1px var(--colour-gray-01) solid;
    background-color: var(--colour-white-01);
    aspect-ratio: 1;
    cursor: pointer;
}

#grid[data-border="false"] .tile {
    border: none;
}

.tile[data-tileid] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}